<h2>New collection</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_collection_path(@conn, :create) %>

<%= link "Back", to: admin_collection_path(@conn, :index) %>
