<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello V21!</title>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web|Lora" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav role="navigation" class="main-nav pure-menu pure-menu-horizontal pure-menu-fixed">
        <%= link "V21", to: "/", class: "pure-menu-heading nav-brand" %>
        <ul class="pure-menu-list">
          <%= if admin_logged_in?(@conn) do %>
            <li class="pure-menu-item">ADMIN</li>
          <% end %>
          <%= if logged_in?(@conn) do %>
            <li class="pure-menu-item"><%= current_user(@conn).email %></li>
            <li class="pure-menu-item"><%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "pure-menu-link" %></li>
          <% else %>
            <li class="pure-menu-item"><%= link "Login", to: "/login", class: "pure-menu-link" %></li>
            <li class="pure-menu-item"><%= link "Register User", to: registration_path(@conn, :new), class: "pure-menu-link" %></li>
            <li class="pure-menu-item"><%= link "Register Org", to: organization_path(@conn, :new), class: "pure-menu-link" %></li>
          <% end %>
        </ul>
      </nav>
      <span class="logo"></span>
    </header>


    <main role="main" class="main">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
