<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published at</th>
      <th>Expires at</th>
    </tr>
  </thead>
  <tbody>
<%= for collection <- @collections do %>
    <tr>
      <td><%= link collection.title, to: collection_path(@conn, :show, collection) %></td>
      <td><%= collection.description %></td>
      <td><%= collection.publish_at %></td>
      <td><%= collection.expire_at %></td>
    </tr>
<% end %>
  </tbody>
</table>
